In [ ]:
for i in range (1,51,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
found = False
print('Before', found)
for value in [9, 41, 12, 3, 74, 15] :
   if value == 3 :
       found = True
   print(found, value)
print('After', found)

Before False
False 9
False 41
False 12
True 3
True 74
True 15
After True

In [ ]:
for i in range (51): #by default start from 0
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
fruits = ["apple", "banana", "cherry", "strawberry"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry
strawberry

In [ ]:
for i in [5, 9, 5, 100]:
  print(i)

5
9
5
100

In [ ]:
box = [5, 9, 5, 100]

for i in box:
  print(i)

5
9
5
100

In [ ]:
word = "Artificial"
print(word[0])

A

In [ ]:
word = "Artificial"

for char in word:
  print(char)

A
r
t
i
f
i
c
i
a
l

In [ ]:
plain_text = "Artificial"

for char in plain_text:
  print(ord(char)) #ord means asci value

65
114
116
105
102
105
99
105
97
108

In [ ]:
plain_text = "Artificial"

for char in plain_text:
  print(chr(ord(char))) #chr means converting into character

A
r
t
i
f
i
c
i
a
l

In [ ]:
plain_txt = "hello"
key = 3
cipher = ""

for char in plain_txt:
  cipher += chr(ord(char) + key)
print(cipher)

decode = ""
for i in cipher:
  decode += chr(ord(i) - key)
print(decode)

khoor
hello

In [ ]:
print(ord("a"))

97

In [ ]:
a = 123
b = chr(a)
print(type(b))

<class 'str'>

In [ ]:
student_dict = {"Alice": 25, "Bob": 18,"Joyee": 40}

for name in student_dict.keys():
  print(name)

for age in student_dict.values():
  print(age)

for name, age in student_dict.items():
  print(name, age)

for t in student_dict.items():
  print(t)

Alice
Bob
Joyee
25
18
40
Alice 25
Bob 18
Joyee 40
('Alice', 25)
('Bob', 18)
('Joyee', 40)

In [ ]:
names =["Alice", "Bob","Joyee"]
ages = [25,18, 40]

for name, age in zip (names, ages):
  print(name, age)

Alice 25
Bob 18
Joyee 40

In [ ]:
names =["Alice", "Bob","Joyee"]

for index, name in enumerate(names):
  print(index, name)

0 Alice
1 Bob
2 Joyee

In [ ]:
for i in  range(4):
  for j in range(4):
    for k in range (4):
      print("i: ", i, " j: ", j, " k:  ",k)

i:  0  j:  0  k:   0
i:  0  j:  0  k:   1
i:  0  j:  0  k:   2
i:  0  j:  0  k:   3
i:  0  j:  1  k:   0
i:  0  j:  1  k:   1
i:  0  j:  1  k:   2
i:  0  j:  1  k:   3
i:  0  j:  2  k:   0
i:  0  j:  2  k:   1
i:  0  j:  2  k:   2
i:  0  j:  2  k:   3
i:  0  j:  3  k:   0
i:  0  j:  3  k:   1
i:  0  j:  3  k:   2
i:  0  j:  3  k:   3
i:  1  j:  0  k:   0
i:  1  j:  0  k:   1
i:  1  j:  0  k:   2
i:  1  j:  0  k:   3
i:  1  j:  1  k:   0
i:  1  j:  1  k:   1
i:  1  j:  1  k:   2
i:  1  j:  1  k:   3
i:  1  j:  2  k:   0
i:  1  j:  2  k:   1
i:  1  j:  2  k:   2
i:  1  j:  2  k:   3
i:  1  j:  3  k:   0
i:  1  j:  3  k:   1
i:  1  j:  3  k:   2
i:  1  j:  3  k:   3
i:  2  j:  0  k:   0
i:  2  j:  0  k:   1
i:  2  j:  0  k:   2
i:  2  j:  0  k:   3
i:  2  j:  1  k:   0
i:  2  j:  1  k:   1
i:  2  j:  1  k:   2
i:  2  j:  1  k:   3
i:  2  j:  2  k:   0
i:  2  j:  2  k:   1
i:  2  j:  2  k:   2
i:  2  j:  2  k:   3
i:  2  j:  3  k:   0
i:  2  j:  3  k:   1
i:  2  j:  3  k:   2
i:  2  j:  3  k:   3
i:  3  j:  0  k:   0
i:  3  j:  0  k:   1
i:  3  j:  0  k:   2
i:  3  j:  0  k:   3
i:  3  j:  1  k:   0
i:  3  j:  1  k:   1
i:  3  j:  1  k:   2
i:  3  j:  1  k:   3
i:  3  j:  2  k:   0
i:  3  j:  2  k:   1
i:  3  j:  2  k:   2
i:  3  j:  2  k:   3
i:  3  j:  3  k:   0
i:  3  j:  3  k:   1
i:  3  j:  3  k:   2
i:  3  j:  3  k:   3

In [ ]:
matrix = [[0,1,5], [28, 96, 89], [45, 79, 120]]

for row in matrix:
  for ele in row:
    print(ele)

0
1
5
28
96
89
45
79
120

In [ ]:
a = [32, 45, 99,5]
max = a[0]

for i in a:
  if i>max:
    max = i
print(max)

99

In [ ]:
for i in range (11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
sum = 0
a = int (input("Enter n: "))

for i in range(a):
  sum+=i
print(sum)

Enter n: 10
45

In [ ]:
string = "Bank"

for i in string:
  print(chr(ord(i)))

B
a
n
k

In [ ]:
fact = 1
a = int (input("Enter n: "))

for i in range(a):
  fact*=i
  a-=1
print(fact)

Enter n: 5
0

In [ ]:
#Count frequency of digits

a = [0, 0, 0, 0,0, 0,0, 0, 0, 0]   # 0 to 9 = 10 digits so 10 0 in list ele
b = int (input ("Enter number: "))

while (b>0):
  d = b%10
  a[d] +=1 #increasing frquency in that position
  b//=10
print(a)

Enter number: 2412
[0, 1, 2, 0, 1, 0, 0]

In [ ]:
#Count the Frequency of Digits in a Number

import math

n = int(input("Enter a num: "))
prime = True

for i in range (2, int(math.sqrt(n))+1: # math.sqrt(n) returns float value and range always be int
  if not (n%i):
    prime = False
    break

if prime is True:
  print(n, " is a prime number")
else:
  print(n, " is not a prime number")

Enter a num: 65
65  is not a prime number

In [ ]:
#Finding Palindromes in a List

a = [121, 45, 60]

for i in a:

In [ ]:
#Fibonnacci number in a List

In [ ]:
smallest = None # is True

In [ ]:
is

In [ ]:
''' Write a program to:
1. Print Numbers from 1 to 10
2. Sum of First N Natural Numbers
3. Print Each Character of a String
4. Print Even Numbers Between 1 and 20
5. Find the Factorial of a Number
6. Create a Multiplication Table
7. Sum of Even Numbers in a List
8. Count the Frequency of Digits in a Number
9. Check for Prime Numbers in a Range
10. Finding Palindromes in a List '''

In [ ]:
#Sum of First N Natural Numbers

num = int(input("Enter number until which you want to sum: "))

sum = 0

for i in range (1, num+1):
  sum+= i
print (sum)

Enter number until which you want to sum: 5
15

In [ ]:
#Print Each Character of a String

music = "It's My Life"

for i in music:
  print(i)

I
t
'
s

M
y

L
i
f
e

In [ ]:
#Find the Factorial of a Number

num = int(input("Enter num: "))
fact = 1

for i in range (2, num+1):
  fact *= i
print(fact)

Enter num: 5
120

In [ ]:
#Create a Multiplication Table

num = int(input("Enter num: "))

for i in range (1, 11):
  print(num, "*",i, " = ", num*i)

Enter num: 18
18 * 1  =  18
18 * 2  =  36
18 * 3  =  54
18 * 4  =  72
18 * 5  =  90
18 * 6  =  108
18 * 7  =  126
18 * 8  =  144
18 * 9  =  162
18 * 10  =  180

In [ ]:
#Sum of Even Numbers in a List

num_list = [12,50,11,78,3,5,78,47,4,41]

sum = 0

for i in num_list:
  if (i%2):
    continue
  sum += i
print(sum)

222

In [ ]:
#Check for Prime Numbers in a Range

In [ ]:
#Finding Palindromes in a List