In [ ]:
def PrintName():
  name = input("Enter your name: ")
  print("Hi! ", name)

PrintName()

Enter your name: isjfishg
Hi!  isjfishg

In [ ]:
def FindMaxNum(num1, num2, num3):

  if num1 > num2 :
    if num1 > num3 :
      print("Max: ", num1)

    else:
      print("Max: ", num3)

  else:
    if num2 > num3:
     print("Max: ", num2)

FindMaxNum(25,77,74)

Max:  77

In [ ]:
num = int(input("Enter num: "))

def MultiplicationTable (num ):
  for i in range (10, 0, -1):
    print( f'{num} * {i} = {num*i}')

MultiplicationTable (num)

Enter num: 45
45 * 10 = 450
45 * 9 = 405
45 * 8 = 360
45 * 7 = 315
45 * 6 = 270
45 * 5 = 225
45 * 4 = 180
45 * 3 = 135
45 * 2 = 90
45 * 1 = 45

In [ ]:
def Message(str_1, str_2 = "Colombo"):
  print(str_1, str_2)

Message("Cat")
Message("Dog", "Tiger")

Cat Colombo
Dog Tiger

In [ ]:
PI = 3.14

def Area_Circle (radius):
  print (PI*(radius**2))

def Area_Square (a):
  print(a**2)

Area_Circle (5)
Area_Square (5)

78.5
25

In [ ]:
def Count():
  sen = input("Enter your Sentence: ")
  list_sen = list(sen)

  sum = 0

  for i in list_sen:
    if i != ' ' :
      sum +=1

  print(sum)

Count()

Enter your Sentence: Class need to attend
17

In [ ]:
def Percentage_Cal (num1, total_num):
  percentage = (num1 / total_num ) * 100
  print(percentage)

Percentage_Cal (80, 95)

84.21052631578947

In [ ]:
def Username():

  name = input("Enter your username: ")
  bool = True


  for i in name:
    if not name.isalnum() :
      bool = False
      return bool

  if len(name) < 8 and len(name) >= 20 :
    bool = True
    return bool

  if bool == True :
    print("Correct Username")

  else:
    print("Try Again maintaining Username format")

Username()

Enter your username: 12345678945
Correct Username

In [ ]:
def Username():

  name = input("Enter your username: ")
  bool = True


  for i in name:
    if not name.isalnum() :
      bool = False
      return bool

  if len(name) < 8 and len(name) >= 20 :
    bool = True
    return bool
  return bool

  if

In [ ]:
showname

In [ ]:
sum = lambda a,b, c : a+b+c
print (sum (45, 50, 1000))

1095

In [ ]:

name = lambda first_name, last_name : print (first_name , last_name)
first_name = input("Enter: ")
last_name = input("Enter: ")

name (first_name , last_name)

Enter: cddjuv
Enter: knjjjjjjjjjjv1462
cddjuv knjjjjjjjjjjv1462

In [ ]:
num = [1,2,3,45]

def square (x):
  return x*x

squared_num = map (square, num) #map return kore object

squ = list(squared_num)
print(squ)

[1, 4, 9, 2025]

In [ ]:
num = [1,2,3,45]

def square (x):
  x*x

squared_num = map (lambda x: x*x, num) #map return kore object

squ = list(squared_num)
print(squ)

[1, 4, 9, 2025]

In [ ]:
num = [1,2,3,45]
num1 = [12,5,9,7]

sum_num = list (map (lambda x, y: x+y, num, num1)) #map return kore object

print(sum_num)

[13, 7, 12, 52]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,78]
def isEven(x):
  if x % 2 == 0:
    return True

  else:
    return False

even_num = list(filter (isEven, numbers))

print(even_num)

[2, 4, 6, 8, 78]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,78]

even_num = list(filter (lambda x: x % 2 == 0, numbers))

print(even_num)

[2, 4, 6, 8, 78]