In [ ]:
word = "Python"
word1 = "Snake"

print(word)
print(word[3])
print(word+word1) #concat

Python
h
PythonSnake

In [ ]:
x = "12"

print(x+ str(2))
print(int(x) + 2)

122
14

In [ ]:
str_ = 'Alice'
i = 0
while i < len(str_):
  print(i)

  i += 1

0
1
2
3
4

In [ ]:
str_ = 'Alice'

for i in str_ :
  print(i)

A
l
i
c
e

In [ ]:
str_ = 'Alice'

for i in range (len(str_)) :
  print(str_ [i])

A
l
i
c
e

In [ ]:
box = lambda x:

In [ ]:
str_ = 'Alice'

key = 3

cipher = " "

for i in str_:
  cipher += chr(ord(i) + key)

print(cipher)

 Dolfh

In [ ]:
str_ = input("Enter your word: ")

def FindPalindrom(str_):
  if str_ == str_[: : -1]:
    print ("Palindrom")

  else:
    print("Not Palindrom")

FindPalindrom(str_)

Enter your word: EyE
Palindrom

In [ ]:
str_ = input("Enter your word: ")

def FindPalindrom(str_):
  if str_ == str_[: : -1]:
    return True print ("Palindrom")

  return False


  else:
    print("Not Palindrom")

FindPalindrom(str_)

In [ ]:
box = lambda x :

In [ ]:
word = 'Catalog'

if word == 'banana':
    print('All right, bananas.')

if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

Your word,Catalog, comes before banana.

In [ ]:
print(str)

dir(str)

<class 'str'>

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#Using string function

text = "Geneva"

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split()

print(box_spilt)

['Bangladesh', 'is', 'a', 'populated', 'country']

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split(" p")

print(box_spilt)

['Bangladesh is a', 'opulated country']

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split(" p")[0]

print(box_spilt)

Bangladesh is a

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split(" p")[1]

print(box_spilt)

opulated country

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split(" ",2)

print(box_spilt)

['Bangladesh', 'is', 'a populated country']

In [ ]:
box = "Bangladesh is a populated country"

box_spilt = box.split()

box_list = list(box_spilt)

new_box = " ".join(box_list)

print(new_box)

Bangladesh is a populated country

In [ ]:
sentence = input("Enter a sentence: ")

count = 0

for i in sentence:
  if i.isalnum():
    count += 1

print("Count: ", count)

if sentence.isupper():
  pass

else:
  sentence = sentence.upper()

print(sentence)

Enter a sentence: Bangladesh 12@q!
Count:  13
BANGLADESH 12@Q!

In [ ]:
sentence = "Bangladesh 12@q!"

nst = "" .join(list(filter (lambda x: x.isdigit(), sentence)))

print(nst)

12

In [ ]:
#Write a Python Program to get Name of User that starts with ‘a’, otherwise Error Message Should Display

name = input("Enter name: ")

if name.lower().startswith('a') :
  print("Yes")

else:
  print("Error Message")

Enter name: Alex
Yes

In [ ]:
name = input("Enter name: ")

if name.lower().endswith('a') :
  print("Yes")

else:
  print("Error Message")

Enter name: lejgjha
Yes

In [ ]:
colors = ["yellow", "red", "green", "blue", "grey"]

nl = list(filter(lambda x : x.startswith("g"), colors))

print(nl)

['green', 'grey']

In [ ]:
name = input("Enter name: ")

odd_inchar = list(filter(lambda x: (name.index(x) % 2 != 0), name))

odd_char = " ".join(odd_inchar)

print(odd_char)

Enter name: ksbkd
s

In [ ]:
sen = input(" Enter: ")

for index, word in enumerate(sen) :
  if index % 2 :
     print(word)

 Enter: adhdeff
d
d
f

In [ ]:
sen = input(" Enter: ")
sl = sen.split()


for index, word in enumerate(sl) :
  if index % 2 :
    print(word)

 Enter: jhghfg yii
yii

In [ ]:
sen = input(" Enter: ")
sl = [word for index, word in enumerate (sen.split()) if index % 2 ]

print(sl)

 Enter: hubf osgosfj
['osgosfj']

In [ ]:
sen = "the brown fox jumps over the lazy dog"