In [ ]:
std = {"Alice" : 25, "Bob": 9, "Cherry": 34}
print(std)

{'Alice': 25, 'Bob': 9, 'Cherry': 34}

In [ ]:
#insert kora

std["David"] = 45
print(std)

{'Alice': 18, 'Bob': 9, 'Cherry': 34, 'David': 45}

In [ ]:
#update value

std["Alice"] = 18
print(std)

{'Alice': 18, 'Bob': 9, 'Cherry': 34}

In [ ]:
for k,v in std.items():
  print(k,v)

Alice 18
Bob 9
Cherry 34
David 45

In [ ]:
for k in std.keys():
  print(k)

Alice
Bob
Cherry
David

In [ ]:
for k in std:
  print(k)

Alice
Bob
Cherry
David

In [ ]:
for v in std.values():
  print(v)

18
9
34
45

In [ ]:
stdlist = list(std.values())
print(stdlist)

[18, 9, 34, 45]

In [ ]:
stdlist = list(std.values())
print(stdlist)

sortstdlist = sorted(stdlist, reverse = True)
print(sortstdlist)

[18, 9, 34, 45]
[45, 34, 18, 9]

In [ ]:
"""1. Create and Access Elements: Create a dictionary with three key-value pairs: {'name': 'Alice', 'age': 25, 'city': 'New York'}.
Print the value of the key 'name'."""

create = {'name': 'Alice', 'age': 25, 'city': 'New York'}
create['name']

'Alice'

In [ ]:
"""2. Add and Update: Add a new key-value pair 'job': 'Engineer' to the dictionary.
Update the 'city' to 'San Francisco'."""

create["job"] = "Engineer"
create["city"] = 'San Francisco'

print(create)

{'name': 'Alice', 'age': 25, 'city': 'San Francisco', 'job': 'Engineer'}

In [ ]:
"""3. Check Existence: Write a program to check if the key 'age' exists in the dictionary and print a message accordingly."""

'age' in create

True

In [ ]:
"""Exercise 1 : Write a Python Program to Create a Dictionary which Displays Student Basic Information in the following format:
Id : 10
Name : Jafri
Course : Python
Address : ABC
Contact : 1233454569 """

student = {'Id ': 10,
'Name ': 'Jafri',
'Course ': 'Python' ,
'Address' : 'ABC',
'Contact' : 1233454569}

print(student)

{'Id ': 10, 'Name ': 'Jafri', 'Course ': 'Python', 'Address': 'ABC', 'Contact': 1233454569}

In [ ]:
for k,v in student.items():
  print(k,v)

Id  10
Name  Jafri
Course  Python
Address ABC
Contact 1233454569

In [ ]:
#Exercise 2 : Write a Python Program to Get 5 Numbers from User and Create a Dictionary which Displays Square of Every Numbers as Value.

num = dict()

for i in range(1,6):

  num[i] = i*i

print(num)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
from random import randint
print(randint(1000000, 9999999))

4977336

In [ ]:
import time
print (time.time())

1732791948.554485

In [ ]:
import time

start_time = time.time()
for i in range(1000000):

  i = randint(1000000, 9999999)

execution_time = time.time() - start_time
print(execution_time)

0.9652507305145264

In [ ]:
str_ = "GUB was established in 2003 with the vision of becoming a global center of excellence in higher education. We offer a diverse range of undergraduate and postgraduate programs through our four faculties: Business Studies, Science & Engineering, Arts & Social Sciences, and Law, to meet the socio-economic needs of our country. Our curriculum is designed to provide quality education imbued with high moral and ethical values. Over the years, the university has grown rapidly and currently serves 7,000 students with over 300 dedicated faculty members. Our graduates are gaining admission to renowned foreign universities for further studies with financial aid and securing positions in prestigious industries and institutions."

listofwords = str_.split(" ")

print(listofwords)

['GUB', 'was', 'established', 'in', '2003', 'with', 'the', 'vision', 'of', 'becoming', 'a', 'global', 'center', 'of', 'excellence', 'in', 'higher', 'education.', 'We', 'offer', 'a', 'diverse', 'range', 'of', 'undergraduate', 'and', 'postgraduate', 'programs', 'through', 'our', 'four', 'faculties:', 'Business', 'Studies,', 'Science', '&', 'Engineering,', 'Arts', '&', 'Social', 'Sciences,', 'and', 'Law,', 'to', 'meet', 'the', 'socio-economic', 'needs', 'of', 'our', 'country.', 'Our', 'curriculum', 'is', 'designed', 'to', 'provide', 'quality', 'education', 'imbued', 'with', 'high', 'moral', 'and', 'ethical', 'values.', 'Over', 'the', 'years,', 'the', 'university', 'has', 'grown', 'rapidly', 'and', 'currently', 'serves', '7,000', 'students', 'with', 'over', '300', 'dedicated', 'faculty', 'members.', 'Our', 'graduates', 'are', 'gaining', 'admission', 'to', 'renowned', 'foreign', 'universities', 'for', 'further', 'studies', 'with', 'financial', 'aid', 'and', 'securing', 'positions', 'in', 'prestigious', 'industries', 'and', 'institutions.']

In [ ]:
wordcount = dict()

for word in listofwords:
  if word in wordcount:
    wordcount[word] += 1

  else:
    wordcount[word] = 1

print(wordcount)

{'GUB': 1, 'was': 1, 'established': 1, 'in': 3, '2003': 1, 'with': 4, 'the': 4, 'vision': 1, 'of': 4, 'becoming': 1, 'a': 2, 'global': 1, 'center': 1, 'excellence': 1, 'higher': 1, 'education.': 1, 'We': 1, 'offer': 1, 'diverse': 1, 'range': 1, 'undergraduate': 1, 'and': 6, 'postgraduate': 1, 'programs': 1, 'through': 1, 'our': 2, 'four': 1, 'faculties:': 1, 'Business': 1, 'Studies,': 1, 'Science': 1, '&': 2, 'Engineering,': 1, 'Arts': 1, 'Social': 1, 'Sciences,': 1, 'Law,': 1, 'to': 3, 'meet': 1, 'socio-economic': 1, 'needs': 1, 'country.': 1, 'Our': 2, 'curriculum': 1, 'is': 1, 'designed': 1, 'provide': 1, 'quality': 1, 'education': 1, 'imbued': 1, 'high': 1, 'moral': 1, 'ethical': 1, 'values.': 1, 'Over': 1, 'years,': 1, 'university': 1, 'has': 1, 'grown': 1, 'rapidly': 1, 'currently': 1, 'serves': 1, '7,000': 1, 'students': 1, 'over': 1, '300': 1, 'dedicated': 1, 'faculty': 1, 'members.': 1, 'graduates': 1, 'are': 1, 'gaining': 1, 'admission': 1, 'renowned': 1, 'foreign': 1, 'universities': 1, 'for': 1, 'further': 1, 'studies': 1, 'financial': 1, 'aid': 1, 'securing': 1, 'positions': 1, 'prestigious': 1, 'industries': 1, 'institutions.': 1}

In [ ]:
#4. Iterate Over a Dictionary: Create a dictionary with at least 5 items. Write a loop to print all keys and their corresponding values.

animal = {"Cat": 5, "Dog": 5, "Lion": 7,"Tiger": 10, "Liger": 2, "Panda": 3}

for k, v in animal.items():
  print(k,v)

Cat 5
Dog 5
Lion 7
Tiger 10
Liger 2
Panda 3

In [ ]:
"""convert value into  key
and viceversa"""

#5. Reverse a Dictionary: Given a dictionary {1: 'a', 2: 'b', 3: 'c'}, reverse its key-value pairs to get {'a': 1, 'b': 2, 'c': 3}.

dict1 = {1: 'a', 2: 'b', 3: 'c'}

dict2 =dict()

for i in dict1:
  z = dict1[i]
  dict2[z] = i

dict2

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
'''6. Word Frequency Counter: Write a program to count the frequency of each word in the sentence "the quick brown fox jumps over the lazy dog".
Output: {'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, ...} '''

string = "the quick brown fox jumps over the lazy dog"
word = string.split(" ")
print(word)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [ ]:
dictw = dict()

for i in word:
  if i in dictw:
    dictw[i] += 1

  else:
    dictw[i] = 1

print(dictw)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [ ]:
#Write a Python Program to Get 5 Student Name with their Marks and Display Student Name and their Marks in Key Value Form

info =  dict()

for i in range(5):
  name = input("Enter your name: ")
  marks = int(input("Enter your marks: "))

  print (name, marks)

Enter your name: dhfj
Enter your marks: 5
Enter your name: gmm
Enter your marks: 85
Enter your name: gmhdd
Enter your marks: 16
Enter your name: ofjp
Enter your marks: 78
Enter your name: fbnf
Enter your marks: 100
fbnf 100

In [ ]:
#Problem 2 : Write a Python Program to Get 5 Digital Product and their Price. Display Total Price of the Products.

In [ ]:
dict1 = {'a': 4, 'b': 1, 'c': 6, 'd': 2, 'e': 3}

new_dict = {k:v*3 for(k,v) in dict1.items()}

new_dict

{'a': 12, 'b': 3, 'c': 18, 'd': 6, 'e': 9}

In [ ]:

new_dict = {k:v for(k,v) in dict1.items() if 'a' in k}

new_dict

{'a': 4}

In [ ]:
new_dict = {k:v for(k,v) in dict1.items() if v%2 == 0 if v%3 == 0}

new_dict

{'c': 6}

In [ ]:
new_dict = {k:v*3 for(k,v) in dict1.items()}

new_dict

In [1]:
#Problem 1 : Write a Python Program to Create a Dictionary from a List which Displays Length of Each Word as Value.

In [ ]:
# Write a Python Program to Create a Dictionary from a List which Displays Length of those Word which Contain Greater than 5 Character as Value

colors = ['yellow', 'red', 'green', 'pink']

color_dict = {k : len(k) for k in colors}

print(color_dict)

{'yellow': 6, 'red': 3, 'green': 5, 'pink': 4}

In [ ]:
colors = ['yellow', 'red', 'green', 'pink']
color_dict = {k : len(k) for k in colors}

print(color_dict)

color_dict["blue"] = color_dict.pop('yellow') #color_dict.pop("yellow") = 6

print(color_dict)

print(min(list(color_dict.values())))

{'yellow': 6, 'red': 3, 'green': 5, 'pink': 4}
{'red': 3, 'green': 5, 'pink': 4, 'blue': 6}
3

In [ ]:
#Write a Python Program to Get Color Name and its Code, and Display all the Color Name in Uppercase with their Code.

In [ ]:
#Write a Python Program to Create a Numeric Dictionary which Displays only those Keys which have Even Value.

In [ ]:
#Write a Python Program to Create a Dictionary from List which multiplies the values with 2 using Dictionary comprehension.

In [ ]:
#Write a Python Program to Display Min and Max Value from a Dictionary Value.

In [ ]:
#Write a Python Program to Check Specific Key, whether that Key Exist in Dictionary or Not

In [ ]:
"""7. Nested Dictionary Manipulation: Create a nested dictionary to store student information:
students = {
    'Alice': {'math': 85, 'science': 92},
    'Bob': {'math': 78, 'science': 89},
    'Charlie': {'math': 95, 'science': 85}
}
Calculate the average score for each student and print it."""

students = {
    'Alice': {'math': 85, 'science': 92},
    'Bob': {'math': 78, 'science': 89},
    'Charlie': {'math': 95, 'science': 85}
}

avg_dict = {}  # Create an empty dictionary, no need to use dict() constructor

for key, value in students.items():
    avg_dict[key] = sum(value.values()) / len(value)

print(avg_dict)

{'Alice': 88.5, 'Bob': 83.5, 'Charlie': 90.0}

In [ ]:
avg_dict = {k : sum(v.values()) / len(v) for k,v in students.items()}
print(avg_dict)

{'Alice': 88.5, 'Bob': 83.5, 'Charlie': 90.0}